@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans.ttf");
}

#cy {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 22em;
}

.options {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 22em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.675);
    color: #fff;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1;
}

.title {
    font-family: "OpenSans";
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
}

#labels {
    display: inline-block;
    font-family: "OpenSans";
    line-height: 2.5;
}

#start {

}
