#cy {
    position: fixed;
    top: 7%; /* adjust to position the cy element on the page */
    right: 50px;
    bottom: 50px;
    left: 50px;
    z-index: 1;
}

#cy-container {
    position: relative;
}

#customize-pane {
    margin-top: 20px;
}